trunk/generated_/org.openhealthtools.mdht.uml.cda.consol/schemas/GreenMedications.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
== Generated by hyperModel (www.XMLmodeling.com) Thu Feb 09 17:04:22 MST 2012
== Model: consol
== Package: consol
-->
<xsd:schema xmlns="urn:hl7-org:greencda:consol" xmlns:Q1="urn:hl7-org:v3" xmlns:gdt="urn:hl7-org:greencda:datatypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:hl7-org:greencda:consol">
  <xsd:import namespace="urn:hl7-org:greencda:datatypes" schemaLocation="GreenDatatypes.xsd"/>
  <!-- ================================================== -->
  <!-- =====  Element Declarations  -->
  <!-- ================================================== -->
  <xsd:element name="indication" type="Indication"/>
  <xsd:element name="instructions" type="Instructions"/>
  <xsd:element name="medication" type="Medication"/>
  <xsd:element name="medicationDispense" type="MedicationDispense"/>
  <xsd:element name="medicationDispenseAssignedEntity" type="MedicationDispenseAssignedEntity"/>
  <xsd:element name="medicationInformation" type="MedicationInformation"/>
  <xsd:element name="medications" type="Medications"/>
  <xsd:element name="reactionObservation" type="ReactionObservation"/>
  <!-- ================================================== -->
  <!-- =====  Simple Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MedicationFillStatus  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="MedicationFillStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="aborted"/>
      <xsd:enumeration value="completed"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ProblemType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="ProblemType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="404684003"/>
      <xsd:enumeration value="409586006"/>
      <xsd:enumeration value="282291009"/>
      <xsd:enumeration value="64572001"/>
      <xsd:enumeration value="248536006"/>
      <xsd:enumeration value="418799008"/>
      <xsd:enumeration value="55607006"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Indication  <<cdaTemplate>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Indication">
    <xsd:sequence>
      <xsd:element name="id" type="gdt:InstanceIdentifier"/>
      <xsd:element minOccurs="0" name="code" type="ProblemType"/>
      <xsd:element minOccurs="0" name="effectiveTime" type="gdt:IntervalOfTimestamps"/>
      <xsd:element minOccurs="0" name="value" type="gdt:ConceptDescriptor"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Instructions  <<cdaTemplate>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Instructions">
    <xsd:sequence>
      <xsd:element name="patientEducation" type="gdt:ConceptDescriptor"/>
      <xsd:element minOccurs="0" name="text" type="gdt:EncapsulatedData"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Medication  <<cdaTemplate>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Medication">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="id" type="gdt:InstanceIdentifier"/>
      <xsd:element minOccurs="0" name="freeTextSig" type="gdt:EncapsulatedData"/>
      <xsd:element name="statusCode" type="gdt:CodedSimpleValue"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="indicateMedicationStartStop" type="gdt:IntervalOfTimestamps"/>
      <xsd:element minOccurs="0" name="route" type="gdt:CodedWithEquivalents"/>
      <xsd:element minOccurs="0" name="site" type="gdt:ConceptDescriptor"/>
      <xsd:element minOccurs="0" name="dose" type="gdt:PhysicalQuantity"/>
      <xsd:element minOccurs="0" name="doseRestriction" type="gdt:Ratio"/>
      <xsd:element minOccurs="0" name="productForm" type="gdt:CodedWithEquivalents"/>
      <xsd:element minOccurs="0" name="patientInstructions" type="Instructions"/>
      <xsd:element minOccurs="0" name="reaction" type="ReactionObservation"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="indication" type="Indication"/>
      <xsd:element minOccurs="0" name="fulfillmentInstructions" type="MedicationDispense"/>
      <xsd:element name="medicationInformation" type="MedicationInformation"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MedicationDispense  <<cdaTemplate>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MedicationDispense">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="prescriptionNumber" type="gdt:InstanceIdentifier"/>
      <xsd:element name="fillStatus" type="MedicationFillStatus"/>
      <xsd:element minOccurs="0" name="dispenseDate" type="gdt:IntervalOfTimestamps"/>
      <xsd:element minOccurs="0" name="fillNumber" type="gdt:IntervalOfInteger"/>
      <xsd:element minOccurs="0" name="quantityDispensed" type="gdt:PhysicalQuantity"/>
      <xsd:element name="provider" type="MedicationDispenseAssignedEntity"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MedicationDispenseAssignedEntity  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MedicationDispenseAssignedEntity">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="id" type="gdt:InstanceIdentifier"/>
      <xsd:element minOccurs="0" name="addr" type="gdt:PostalAddress"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MedicationInformation  <<cdaTemplate>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MedicationInformation"/>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Medications  <<cdaTemplate>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Medications">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="medication" type="Medication"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ReactionObservation  <<cdaTemplate>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ReactionObservation">
    <xsd:sequence>
      <xsd:element name="id" type="gdt:InstanceIdentifier"/>
      <xsd:element name="code" type="gdt:ConceptDescriptor"/>
      <xsd:element minOccurs="0" name="effectiveTime" type="gdt:IntervalOfTimestamps"/>
      <xsd:element name="reactionCoded" type="gdt:ConceptDescriptor"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
