trunk/generated_/org.openhealthtools.mdht.uml.cda.consol/schemas/GreenResults.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
== Generated by hyperModel (www.XMLmodeling.com) Wed Dec 14 12:12:47 MST 2011
== Model: consol
== Package: consol
-->
<xsd:schema xmlns="urn:hl7-org:greencda:consol" xmlns:gdt="urn:hl7-org:greencda:datatypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:hl7-org:greencda:consol">
  <xsd:include schemaLocation="cda.xsd"/>
  <xsd:import namespace="urn:hl7-org:greencda:datatypes" schemaLocation="GreenDatatypes.xsd"/>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Result  <<cdaTemplate>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Result">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="resultID" type="gdt:InstanceIdentifier"/>
      <xsd:element name="resultType" type="gdt:ConceptDescriptor"/>
      <xsd:element name="resultDateTime" type="gdt:IntervalOfTimestamps"/>
      <xsd:element name="resultValue" type="gdt:ObservationValue"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="resultInterpretation" type="gdt:CodedWithEquivalents"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ResultOrganizer  <<cdaTemplate>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ResultOrganizer">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="id" type="gdt:InstanceIdentifier"/>
      <xsd:element name="code" type="gdt:ConceptDescriptor"/>
      <xsd:element maxOccurs="unbounded" name="result" type="Result"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Results  <<cdaTemplate>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Results">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="resultOrganizer" type="ResultOrganizer"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
