generated/org.openhealthtools.mdht.uml.cda.consol/schemas/GreenDatatypes.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
== Generated by hyperModel (www.XMLmodeling.com) Thu Feb 09 15:13:08 MST 2012
== Model: GreenDatatypes
== Package: GreenDatatypes
-->
<xsd:schema xmlns:gdt="urn:hl7-org:greencda:datatypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:hl7-org:greencda:datatypes">
  <!-- ================================================== -->
  <!-- =====  Simple Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ConfidentialityType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="ConfidentialityType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="N"/>
      <xsd:enumeration value="R"/>
      <xsd:enumeration value="V"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CurrencyType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="CurrencyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ARS"/>
      <xsd:enumeration value="AUD"/>
      <xsd:enumeration value="BRL"/>
      <xsd:enumeration value="CAD"/>
      <xsd:enumeration value="CHF"/>
      <xsd:enumeration value="CLF"/>
      <xsd:enumeration value="CNY"/>
      <xsd:enumeration value="DEM"/>
      <xsd:enumeration value="ESP"/>
      <xsd:enumeration value="EUR"/>
      <xsd:enumeration value="FIM"/>
      <xsd:enumeration value="FRF"/>
      <xsd:enumeration value="GBP"/>
      <xsd:enumeration value="ILS"/>
      <xsd:enumeration value="INR"/>
      <xsd:enumeration value="JPY"/>
      <xsd:enumeration value="KRW"/>
      <xsd:enumeration value="MXN"/>
      <xsd:enumeration value="NLG"/>
      <xsd:enumeration value="NZD"/>
      <xsd:enumeration value="PHP"/>
      <xsd:enumeration value="RUR"/>
      <xsd:enumeration value="THB"/>
      <xsd:enumeration value="TRL"/>
      <xsd:enumeration value="TWD"/>
      <xsd:enumeration value="USD"/>
      <xsd:enumeration value="ZAR"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  NullFlavorType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="NullFlavorType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NP"/>
      <xsd:enumeration value="NI"/>
      <xsd:enumeration value="MSK"/>
      <xsd:enumeration value="NA"/>
      <xsd:enumeration value="OTH"/>
      <xsd:enumeration value="NINF"/>
      <xsd:enumeration value="PINF"/>
      <xsd:enumeration value="UNK"/>
      <xsd:enumeration value="NASK"/>
      <xsd:enumeration value="TRC"/>
      <xsd:enumeration value="ASKU"/>
      <xsd:enumeration value="NAV"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RelationshipType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="RelationshipType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CHILD"/>
      <xsd:enumeration value="SON"/>
      <xsd:enumeration value="HUSB"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  StatusType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="StatusType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="normal"/>
      <xsd:enumeration value="active"/>
      <xsd:enumeration value="cancelled"/>
      <xsd:enumeration value="pending"/>
      <xsd:enumeration value="suspended"/>
      <xsd:enumeration value="terminated"/>
      <xsd:enumeration value="nullified"/>
      <xsd:enumeration value="completed"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SupportType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="SupportType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="GUARD"/>
      <xsd:enumeration value="AGNT"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ValueType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="ValueType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CE"/>
      <xsd:enumeration value="BL"/>
      <xsd:enumeration value="BN"/>
      <xsd:enumeration value="BIN"/>
      <xsd:enumeration value="CR"/>
      <xsd:enumeration value="UUID"/>
      <xsd:enumeration value="II"/>
      <xsd:enumeration value="URL"/>
      <xsd:enumeration value="AD"/>
      <xsd:enumeration value="BL"/>
      <xsd:enumeration value="EN"/>
      <xsd:enumeration value="QTY"/>
      <xsd:enumeration value="PQR"/>
      <xsd:enumeration value="RTO"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CodedSimpleValue  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CodedSimpleValue">
    <xsd:attribute name="code" type="xsd:string"/>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CodedWithEnumeration  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CodedWithEnumeration">
    <xsd:attribute name="code" type="xsd:string"/>
    <xsd:attribute name="displayName" type="xsd:string"/>
    <xsd:attribute name="nullFlavor" type="gdt:NullFlavorType"/>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CodedWithEquivalents  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CodedWithEquivalents">
    <xsd:complexContent>
      <xsd:restriction base="gdt:ConceptDescriptor">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="originalText" type="xsd:string"/>
          <xsd:element maxOccurs="0" minOccurs="0" name="qualifier" type="gdt:QualifierType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ConceptDescriptor  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ConceptDescriptor">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="originalText" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="qualifier" type="gdt:QualifierType"/>
    </xsd:sequence>
    <xsd:attribute name="code" type="xsd:string"/>
    <xsd:attribute name="displayName" type="xsd:string"/>
    <xsd:attribute name="codeSystem" type="xsd:string"/>
    <xsd:attribute name="codeSystemName" type="xsd:string"/>
    <xsd:attribute name="nullFlavor" type="gdt:NullFlavorType"/>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  EncapsulatedData  <<complexType>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType mixed="true" name="EncapsulatedData">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="reference" type="xsd:string"/>
      <xsd:element minOccurs="0" name="thumbnail" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute default="text/plain" name="mediaType" type="xsd:string"/>
    <xsd:attribute name="language" type="xsd:string"/>
    <xsd:attribute name="compression" type="xsd:string"/>
    <xsd:attribute name="integrityCheck" type="xsd:string"/>
    <xsd:attribute default="SHA-1" name="integrityCheckAlgorithm" type="xsd:string"/>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  InstanceIdentifier  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="InstanceIdentifier">
    <xsd:attribute name="root" type="xsd:string"/>
    <xsd:attribute name="extension" type="xsd:string"/>
    <xsd:attribute name="nullFlavor" type="gdt:NullFlavorType"/>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  IntegerNumber  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="IntegerNumber">
    <xsd:attribute name="value" type="xsd:int"/>
    <xsd:attribute name="nullFlavor" type="gdt:NullFlavorType"/>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  IntervalOfInteger  <<complexType, choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="IntervalOfInteger">
    <xsd:choice maxOccurs="1" minOccurs="0">
      <xsd:sequence>
        <xsd:element name="low" type="gdt:IntegerNumber"/>
        <xsd:choice minOccurs="0">
          <xsd:element minOccurs="0" name="width" type="gdt:PhysicalQuantity"/>
          <xsd:element minOccurs="0" name="high" type="gdt:IntegerNumber"/>
        </xsd:choice>
      </xsd:sequence>
      <xsd:element name="high" type="gdt:IntegerNumber"/>
      <xsd:sequence>
        <xsd:element name="width" type="gdt:PhysicalQuantity"/>
        <xsd:element minOccurs="0" name="high" type="gdt:IntegerNumber"/>
      </xsd:sequence>
      <xsd:sequence>
        <xsd:element name="center" type="gdt:IntegerNumber"/>
        <xsd:element minOccurs="0" name="width" type="gdt:PhysicalQuantity"/>
      </xsd:sequence>
    </xsd:choice>
    <xsd:attribute name="value" type="xsd:string"/>
    <xsd:attribute name="nullFlavor" type="gdt:NullFlavorType"/>
    <xsd:attribute name="operator" type="xsd:string"/>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  IntervalOfTimestamps  <<complexType, choice>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="IntervalOfTimestamps">
    <xsd:choice maxOccurs="1" minOccurs="0">
      <xsd:sequence>
        <xsd:element name="low" type="gdt:Timestamp"/>
        <xsd:choice minOccurs="0">
          <xsd:element minOccurs="0" name="width" type="gdt:PhysicalQuantity"/>
          <xsd:element minOccurs="0" name="high" type="gdt:Timestamp"/>
        </xsd:choice>
      </xsd:sequence>
      <xsd:element name="high" type="gdt:Timestamp"/>
      <xsd:sequence>
        <xsd:element name="width" type="gdt:PhysicalQuantity"/>
        <xsd:element minOccurs="0" name="high" type="gdt:Timestamp"/>
      </xsd:sequence>
      <xsd:sequence>
        <xsd:element name="center" type="gdt:Timestamp"/>
        <xsd:element minOccurs="0" name="width" type="gdt:PhysicalQuantity"/>
      </xsd:sequence>
    </xsd:choice>
    <xsd:attribute name="value" type="xsd:string"/>
    <xsd:attribute name="nullFlavor" type="gdt:NullFlavorType"/>
    <xsd:attribute name="operator" type="xsd:string"/>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MonetaryAmount  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MonetaryAmount">
    <xsd:attribute name="value" type="xsd:string" use="required"/>
    <xsd:attribute name="currency" type="gdt:CurrencyType"/>
    <xsd:attribute name="nullFlavor" type="gdt:NullFlavorType"/>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ObservationValue  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ObservationValue">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="integer">
          <xsd:complexType>
            <xsd:attribute name="value" type="xsd:string"/>
            <xsd:attribute name="nullFlavor" type="gdt:NullFlavorType"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="monetaryAmount" type="gdt:MonetaryAmount"/>
        <xsd:element name="physicalQuantity" type="gdt:PhysicalQuantity"/>
        <xsd:element name="simpleCode">
          <xsd:complexType>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="codeSystem" type="xsd:string"/>
            <xsd:attribute name="codeSystemName" type="xsd:string"/>
            <xsd:attribute name="displayName" type="xsd:string"/>
            <xsd:attribute name="nullFlavor" type="gdt:NullFlavorType"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="string">
          <xsd:complexType mixed="true">
            <xsd:attribute name="nullFlavor" type="gdt:NullFlavorType"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="conceptDescriptor" type="gdt:ConceptDescriptor"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  OrganizationName  <<complexType>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType mixed="true" name="OrganizationName">
    <xsd:attribute name="nullFlavor" type="gdt:NullFlavorType"/>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PersonName  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PersonName">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="prefix" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" name="given" type="xsd:string"/>
      <xsd:element name="family" type="xsd:string"/>
      <xsd:element minOccurs="0" name="suffix" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="nullFlavor" type="gdt:NullFlavorType"/>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PhysicalQuantity  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PhysicalQuantity">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="translation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="originalText" type="gdt:EncapsulatedData"/>
            <xsd:element maxOccurs="0" minOccurs="0" name="translation" type="xsd:string"/>
          </xsd:sequence>
          <xsd:attribute name="nullFlavor" type="gdt:NullFlavorType"/>
          <xsd:attribute name="code" type="xsd:string"/>
          <xsd:attribute name="codeSystem" type="xsd:string"/>
          <xsd:attribute name="codeSystemName" type="xsd:string"/>
          <xsd:attribute name="codeSystemVersion" type="xsd:string"/>
          <xsd:attribute name="displayName" type="xsd:string"/>
          <xsd:attribute name="value" type="xsd:string"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="value" type="xsd:string"/>
    <xsd:attribute name="unit" type="xsd:string"/>
    <xsd:attribute name="nullFlavor" type="gdt:NullFlavorType"/>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PostalAddress  <<complexType>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType mixed="true" name="PostalAddress">
    <xsd:sequence>
      <xsd:element maxOccurs="2" minOccurs="0" name="streetAddressLine" type="xsd:string"/>
      <xsd:element minOccurs="0" name="city" type="xsd:string"/>
      <xsd:element minOccurs="0" name="state" type="xsd:string"/>
      <xsd:element minOccurs="0" name="postalCode" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="nullFlavor" type="gdt:NullFlavorType"/>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  QualifierType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="QualifierType">
    <xsd:sequence>
      <xsd:element name="name">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:restriction base="gdt:ConceptDescriptor">
              <xsd:sequence>
                <xsd:element minOccurs="0" name="originalText" type="xsd:string"/>
                <xsd:element maxOccurs="0" minOccurs="0" name="qualifier" type="gdt:QualifierType"/>
              </xsd:sequence>
            </xsd:restriction>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="value">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:restriction base="gdt:ConceptDescriptor">
              <xsd:sequence>
                <xsd:element minOccurs="0" name="originalText" type="xsd:string"/>
                <xsd:element maxOccurs="0" minOccurs="0" name="qualifier" type="gdt:QualifierType"/>
              </xsd:sequence>
            </xsd:restriction>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Ratio  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Ratio">
    <xsd:sequence>
      <xsd:element name="numerator" type="gdt:PhysicalQuantity"/>
      <xsd:element name="denominator" type="gdt:PhysicalQuantity"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  TelecomAddress  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="TelecomAddress">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="useablePeriod">
        <xsd:complexType>
          <xsd:attribute name="nullFlavor" type="gdt:NullFlavorType"/>
          <xsd:attribute name="value" type="xsd:string"/>
          <xsd:attribute default="I" name="operator" type="xsd:string"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="nullFlavor" type="gdt:NullFlavorType"/>
    <xsd:attribute name="value" type="xsd:string"/>
    <xsd:attribute name="use" type="xsd:string"/>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Timestamp  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Timestamp">
    <xsd:attribute name="value" type="xsd:string"/>
    <xsd:attribute name="nullFlavor" type="gdt:NullFlavorType"/>
  </xsd:complexType>
</xsd:schema>
