generated/org.openhealthtools.mdht.uml.cda.consol/schemas/GreenProblems.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
== Generated by hyperModel (www.XMLmodeling.com) Wed Dec 14 12:11:03 MST 2011
== Model: consol
== Package: consol
-->
<xsd:schema xmlns="urn:hl7-org:greencda:consol" xmlns:gdt="urn:hl7-org:greencda:datatypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:hl7-org:greencda:consol">
  <xsd:include schemaLocation="cda.xsd"/>
  <xsd:import namespace="urn:hl7-org:greencda:datatypes" schemaLocation="GreenDatatypes.xsd"/>
  <!-- ================================================== -->
  <!-- =====  Simple Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  HITSPProblemStatus  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="HITSPProblemStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="55561003"/>
      <xsd:enumeration value="73425007"/>
      <xsd:enumeration value="413322009"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ProblemActStatusCode  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="ProblemActStatusCode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="active"/>
      <xsd:enumeration value="suspended"/>
      <xsd:enumeration value="aborted"/>
      <xsd:enumeration value="completed"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ProblemType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="ProblemType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="404684003"/>
      <xsd:enumeration value="409586006"/>
      <xsd:enumeration value="282291009"/>
      <xsd:enumeration value="64572001"/>
      <xsd:enumeration value="248536006"/>
      <xsd:enumeration value="418799008"/>
      <xsd:enumeration value="55607006"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ProblemConcern  <<cdaTemplate>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ProblemConcern">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="id" type="gdt:InstanceIdentifier"/>
      <xsd:element name="concernStatus" type="ProblemActStatusCode"/>
      <xsd:element name="concernDate" type="gdt:IntervalOfTimestamps"/>
      <xsd:element maxOccurs="unbounded" name="problemObservation" type="ProblemObservation"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ProblemObservation  <<cdaTemplate>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ProblemObservation">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="id" type="gdt:InstanceIdentifier"/>
      <xsd:element name="problemType" type="ProblemType"/>
      <xsd:element minOccurs="0" name="problemDate" type="gdt:IntervalOfTimestamps"/>
      <xsd:element name="problemCode" type="gdt:ConceptDescriptor"/>
      <xsd:element minOccurs="0" name="ageAtOnset" type="xsd:integer"/>
      <xsd:element minOccurs="0" name="problemStatus" type="HITSPProblemStatus"/>
      <xsd:element minOccurs="0" name="healthStatus" type="HITSPProblemStatus"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Problems  <<cdaTemplate>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Problems">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="problemConcern" type="ProblemConcern"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
